# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.swp

# Kivy logs
*.log

# Music files
music_files/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Cache
.cache/
*.sqlite3
cache

# Environment
.env